    <div class="ui center aligned black inverted vertical footer segment">
        <div>&copy;&nbsp;2018</div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js" integrity="sha256-VKITM616rVzV+MI3kZMNUDoY5uTsuSl1ZvEeZhNoJVk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" integrity="sha256-WPeFPWD3PZQUDrpFnDM1N2KadNVwCfNS4cCZ78b76T8=" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" integrity="sha256-YqOIp4MygNx9/lcWr5lpcR88Ki/MNMWvJJkH0eK+fHM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.2/pagination.min.js" integrity="sha256-+VcNrmehzvJ5czqCa6YNgicvAcTRq9x0uy2m2afsxh4=" crossorigin="anonymous"></script> -->
<script src="lib/jquery.simplePagination.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timer.jquery/0.7.1/timer.jquery.min.js" integrity="sha256-alZIJZOvMDT3b3bsw47F031kObJ414rK5KYezDJ8KTM=" crossorigin="anonymous"></script>
<script src="/default-min.js"></script>
<script src="lib/polyfill.js"></script>
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/esm/popper.min.js" integrity="sha256-jPFYNe1yH5XkXflWMGOFJaeHHH7ZEzHqhxZyxsRNsuc=" crossorigin="anonymous"></script> -->
</body>

</html>