<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cisco Firepower Automation Tool">
    <meta name="author" content="parkerbrother1">
<!--     <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.png"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700,900" rel="stylesheet">
    <title>Cisco Firepower API Automation Tool</title>
    <!-- SemanticUI core CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js" integrity="sha256-FMQoXFhCWeNb139Wa9Z2I0UjqDeKKDYY+6PLkWv4qco=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" integrity="sha256-/mC8AIsSmTcTtaf8vgnfbZXZLYhJCd0b9If/M0Y5nDw=" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="stylesheets/fpmc.css">
</head>

<body>
    <div class="ui inverted stackable menu">
        <div id="menuTarget" class="header item"><i class="shipping fast icon"></i> FPMC API</div>
        <a class="active item" href="#">Placeholder</a>
        <div class="right menu">
                <div id="settingsMenu" class="ui dropdown item">
                    <i class="bars icon"></i>
                    Settings
                </div>          
        </div>
    </div>
