<% include partials/header.ejs %>

<form id="fpmccredentials" data-id="fpmccredentials" class="ui form">
	<div class="fields">
		<div class="required field">
			<label>FPMC IP</label>
			<input type="text" name="fpmcip" value="10.255.0.10">
		</div>
		<div class="required field">
			<label>Username</label>
			<input type="text" name="fpmcuser" value="automate">
		</div>
		<div class="required field">
			<label>Password</label>
			<input type="text" name="fpmcpass" value="automate">
		</div>
	</div>
</form>

<form id="accesspoliciespost" data-id="accesspoliciespost" class="ui form">
	<div class="fields">
		<div class="required field">
			<label>ACPolicy Name</label>
			<input type="text" name="acpolicy" value="API Policy">
		</div>
		<div class="required field">
			<label>ACPolicy Description</label>
			<input type="text" name="acpolicydesc" value="This policy was automated">
		</div>
	</div>	
</form>

<div id="device">
	<div id="devicerecord">
	<form id="devicerecordpost" data-id="devicerecordpost" class="ui form">
		<div class="fields">
			<div class="required field">
				<label>Device Name</label>
				<input type="text" name="devicename" value="FTDv-">
			</div>		
			<div class="required field">
				<label>Management IP</label>
				<input type="text" name="hostname" value="10.255.0.10">
			</div>		
			<div class="required field">
				<label>NAT ID</label>
				<input type="text" name="devicenat" value="cisco123">
			</div>		
			<div class="required field">
				<label>Registration Key</label>
				<input type="text" name="devicekey" value="cisco123">
			</div>		
			<div class="field">
				<label>Access Policy</label>
				<input type="text" name="devicepol" value="">
			</div>
		</div>	
		<div class="fields">
			<div class="field">
				<label>Threat License</label>
				<input type="checkbox" name="lic" value="THREAT">
			</div>
			<div class="field">
				<label>Malware License</label>
				<input type="checkbox" name="lic" value="MALWARE">
			</div>
			<div class="field">
				<label>URL Filter License</label>
				<input type="checkbox" name="lic" value="URLFilter">
			</div>
		</div>			
	</form>
	<form id="devicephysicalintfput" data-id="devicephysicalintfput" data-device-name="" class="ui form">
		<div class="six fields">
			<div class="required field">
				<label>interface</label>
				<select name="physicalinterface" class="ui selection dropdown">
					<option name="physicalinterface" selected value="GigabitEthernet0/0">GigabitEthernet0/0</option>
					<option name="physicalinterface" value="GigabitEthernet0/1">GigabitEthernet0/1</option>
					<option name="physicalinterface" value="GigabitEthernet0/2">GigabitEthernet0/2</option>
				</select>
			</div>
			<div class="required field">
				<label>enabled</label>
				<select name="enabled" class="ui selection dropdown">
					<option name="enabled" selected value="true">enabled</option>
					<option name="enabled" value="false">disabled</option>
				</select>
			</div>
			<div class="required field">
				<label>ip type</label>
				<select name="ipv4method" class="ui selection dropdown">
					<option name="ipv4method" selected value="static">static</option>
					<option name="ipv4method" value="dhcp">dhcp</option>
				</select>
			</div>
			<div class="required field">
				<label>interface mode</label>
				<select class="ui selection dropdown">
					<option name="mode" selected value="NONE">none</option>
					<option name="mode" value="passive">passive</option>
					<option name="mode" value="erspan">erspan</option>
				</select>
			</div>
			<div class="required field">
				<label>duplex</label>
				<select class="ui selection dropdown">
					<option name="duplex" selected value="AUTO">auto</option>
					<option name="duplex" value="half">half</option>
					<option name="duplex" value="full">full</option>
				</select>
			</div>
			<div class="required field">
				<label>speed</label>
				<select class="ui selection dropdown">
					<option name="speed" selected value="AUTO">auto</option>
					<option name="speed" value="10">10</option>
					<option name="speed" value="100">100</option>
					<option name="speed" value="1000">1000</option>
				</select>
			</div>
		</div>
		<div class="four fields">
			<div class="required field">
				<label>ip address</label>
				<input type="text" name="ipv4" value="">
			</div>
			<div class="required field">
				<label>subnet mask</label>
				<input type="text" name="ipv4mask" value="">
			</div>
			<div class="required field">
				<label>MTU</label>
				<input type="text" name="MTU" value="1500">
			</div>
			<div class="required field">
				<label>interface name</label>
				<input type="text" name="logicalname" value="OUTSIDE">
			</div>
		</div>
	</form>
	<form id="devicephysicalintfput" data-id="devicephysicalintfput" data-device-name="" class="ui form">
		<div class="six fields">
			<div class="required field">
				<label>interface</label>
				<select name="physicalinterface" class="ui selection dropdown">
					<option name="physicalinterface" value="GigabitEthernet0/0">GigabitEthernet0/0</option>
					<option name="physicalinterface" selected value="GigabitEthernet0/1">GigabitEthernet0/1</option>
					<option name="physicalinterface" value="GigabitEthernet0/2">GigabitEthernet0/2</option>
				</select>
			</div>
			<div class="required field">
				<label>enabled</label>
				<select name="enabled" class="ui selection dropdown">
					<option name="enabled" selected value="true">enabled</option>
					<option name="enabled" value="false">disabled</option>
				</select>
			</div>
			<div class="required field">
				<label>ip type</label>
				<select name="ipv4method" class="ui selection dropdown">
					<option name="ipv4method" selected value="static">static</option>
					<option name="ipv4method" value="dhcp">dhcp</option>
				</select>
			</div>
			<div class="required field">
				<label>interface mode</label>
				<select class="ui selection dropdown">
					<option name="mode" selected value="NONE">none</option>
					<option name="mode" value="passive">passive</option>
					<option name="mode" value="erspan">erspan</option>
				</select>
			</div>
			<div class="required field">
				<label>duplex</label>
				<select class="ui selection dropdown">
					<option name="duplex" selected value="AUTO">auto</option>
					<option name="duplex" value="half">half</option>
					<option name="duplex" value="full">full</option>
				</select>
			</div>
			<div class="required field">
				<label>speed</label>
				<select class="ui selection dropdown">
					<option name="speed" selected value="AUTO">auto</option>
					<option name="speed" value="10">10</option>
					<option name="speed" value="100">100</option>
					<option name="speed" value="1000">1000</option>
				</select>
			</div>
		</div>
		<div class="four fields">
			<div class="required field">
				<label>ip address</label>
				<input type="text" name="ipv4" value="">
			</div>
			<div class="required field">
				<label>subnet mask</label>
				<input type="text" name="ipv4mask" value="">
			</div>
			<div class="required field">
				<label>MTU</label>
				<input type="text" name="MTU" value="1500">
			</div>
			<div class="required field">
				<label>interface name</label>
				<input type="text" name="logicalname" value="INSIDE">
			</div>
		</div>
	</form>
	</div>
</div>
<div>
	<button id="newdevice" class="ui primary button">New Device</button>
	<button id="removedevice" class="ui primary button">Remove Device</button>
	<button id="submit" class="ui secondary button">Submit All</button>
</div>

<div class="ui message">
	<p></p>
</div>

<div class="ui segment">
	<div class="ui loader">
		<span id="regResult"></span>
	</div>	
</div>

<% include partials/footer.ejs %>