body {

    background-color: #eee;
    background-image: -webkit-linear-gradient(to bottom, #d7d7d7, #eeeeee 116px);
    font-family: 'Roboto Condensed', sans-serif;
	line-height:1.15; /* More suitable for this font than semantic default. */
    margin-left: 10px;
    margin-right: 10px;
}

form {
	border: 2px solid firebrick;
	border-radius: 5px;
	margin: 5px;
	padding: 4px;
}

div#devicerecord, div#fpmcbasic {
	border: 2px solid black;
	border-radius: 5px;
}

#submitbuttons {
	margin: 5px;
	padding: 4px;	
}